<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>

   
    <div id="Room">
         Room <input type="text" id="name"/> 
        <input type="button" id="join" value="Join"/>
        <input type="button" id="leave" value="leave" style="display:none"/>
    </div>


    <div id ="chat">
        <input type="text" id="context"/>
        <input type="button" id="send" value="send"/>
    </div>

    <div id="chatList">
        <ul id = "list">
            <li>start</li>
        </ul>
    </div>

    
    

    <script src="./room.js"></script>
    
</body>
</html>